Data
/.ipynb_checkpoints
.DSM GeoTiff.ipynb
DTM GeoTiff.ipynb
ALL_BOUNDS.csv
CHM.ipynb
Extra notes.ipynb
api coordinates.ipynb
Crop building (other way).ipynb
Crop building from tiff(one way).ipynb
Open all files and save to dataframe.ipynb
Open Shapefiles.ipynb
