Data
/.ipynb_checkpoints
/DSM GeoTiff.ipynb
/DTM GeoTiff.ipynb
/ALL_BOUNDS.csv
/CHM.ipynb
/Extra notes.ipynb
/api coordinates.ipynb
/Crop building (other way).ipynb
Crop building from tiff(one way).ipynb
/home/becode/3D-House/3D-House-Project/Open all files and save to dataframe.ipynb
/home/becode/3D-House/3D-House-Project/Open Shapefiles.ipynb